body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./dosyalar/Background/girisBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
}

.welcome-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
}

.logo {
    max-width: 100px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #FFD700;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    text-align: center;
    width: 45%;
}

.admin-button {
    background-color: #D4002A;
}

.user-button {
    background-color: #D4002A;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}